<form action="/results">
  <div class="form-group">
    <input id="allergy" name="allergy" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-block">Check It!</button>
</form>
